* {
margin: 0;
padding: 0;
}
body {
font-family: 'Poppins', sans-serif;
width: 100%;
position: fixed;
}
.wrapper {
width: 1170px;
height: 4vh;
margin: auto;
}
header {
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(event.jpeg);
height: 100vh;
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
position: relative;
}
.nav-area {
float: right;
list-style: none;
margin-top: 20px;
}
.nav-area li {
display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover {
background: #fff;
color: #333;
}
div.main{
width:500px;
margin: 60px auto 0px auto;
}
div.register{
background-color:rgba(0,0,0,0.5);
width:100%
border-radius:10px;
border: 1px solid rgba(255,255,255,0.3)
box-shadow : 2px 2px 15px,rgba(0,0,0,0.3);
color:#fff;
}
form#register{
margin:30px;
}
label{
font-size:18px;
font-style:italic;
}
input.name{
width:300px;
border: none;
padding:3px;
color:white;
background-color: transparent;
border-bottom: 1px solid #fff;
outline: none;
}
textarea{
    resize: none;
    width:400px;
    height:150px;
    padding:3px;
    border-radius: 10px;
}
input#submit{
width:200px;
padding:7px;
font-size:16px;
font-width:600px;
border:none;
border-radius:10px;
background-color:#ff0000;
color:#fff;
cursor:pointer;
border:1px solid rgba(255,255,255,0.3);
box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
margin-bottom:20px;
text-align: center;
}
#back{
width:200px;
padding:7px;
font-size:16px;
font-width:600px;
border:none;
border-radius:10px;
background-color:#ff0000;
color:#fff;
cursor:pointer;
border:1px solid rgba(255,255,255,0.3);
box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
margin-bottom:20px;
text-align: center;   
}
input#submit:hover{
background-color:white;
color:#ff0000;
}
#back:hover{
background-color:white;
color:#ff0000;
}
span#Message{
    color:white;
}
p a{
color:#ff0000;
}
p a:hover{
color:white;
}
label{
text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
select 
{
    background-color:grey;
    width:300px;
}
.para{
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:50px;
    text-align: center;
    text-transform: uppercase;
}
.about{
    width:700px;
    margin:30px auto 50px auto;
}
#welcome{
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-emphasis: bold ;
    margin-top: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
div #theory{
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    width: 700px;
    height:500px;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    font-size: large;
} 