* {
margin: 0;
padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
width:100%;
position: fixed;
}

.loginbox{
    position:absolute;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    
}

#current{
    color:#ff0000;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
   background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ff0000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input#submit:hover
{
    cursor: pointer;
    background-color:white;
color:#ff0000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ff0000;
}
.wrapper {
    width: 1170px;
height: 4vh;
margin: auto;
    }
 header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(event.jpeg);
height: 100vh;
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
position: relative;
}

.nav-area {
float: right;
list-style: none;
margin-top: 20px;
}
.nav-area li {
display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover {
background: #fff;
color: #333;
}
fieldset
{
position:absolute;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    bottom:50%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    padding: 50px 50px;
    
}
.back{
    border: 1px solid #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 15px;
margin-top: 20px;
display: inline-block;
color: #fff;
    color:white;
    margin-left:30px;
    width:100px;
    border-radius:  5px 15px 5px 15px;
    margin-top: 5px;
    padding:5px;
}





























































